	.numberinput {
		width: 100%;
		height: 88px;
		background-image: url(images/fixedhead.png);
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 10;
		background-repeat: no-repeat;
		background-size: 320px auto;
	}

	.numberinput2 {
		width: 100%;
		height: 223px;
		background-image: url(images/menuswap.png);
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 10;
		background-repeat: no-repeat;
		background-size: 320px auto;
	}


	body {
		background-color: #100025;
		background-repeat: no-repeat;
		margin: 0;
		background-size: 320px auto;
		max-width: 320px;
		width: 320px;
	}

	.titleglow {
		background-image: url(images/glow.png);
		width: 320px;
		background-size: 320px auto;
		height: 156px;
		-webkit-animation: nice 3s ease infinite;
		position: absolute;
		top: 0px;
		left: 0px;
	}

	.titleglow2 {
		background-image: url(images/blur2.png);
		width: 320px;
		background-size: 320px auto;
		height: 256px;
		-webkit-animation: nice 3s ease infinite;
		position: absolute;
		top: 0px;
		left: 0px;
	}

	.container {
		width: 320px;
		height:568px;
		position: fixed;
		top: 0;
		left: 0;
		overflow: auto;
		background-image: url(images/background.gif);
		background-repeat: no-repeat;
		background-size: 320px auto;
	}

	@-webkit-keyframes nice {
	0% {opacity: 0.4;}
	14% {opacity: 0.4;}
	28% {opacity: 0.4;}
	30% {opacity: 0.5;}
	32% {opacity: 0.3;}
	42% {opacity: 0.4;}
	44% {opacity: 0.6;}
	46% {opacity: 0.4;}
	66% {opacity: 0.4;}
	68% {opacity: 0.4;}
	70% {opacity: 0.4;}
	89% {opacity: 0.4;}
	91% {opacity: 0.6;}
	93% {opacity: 0.4;}
	100% {opacity: 0.4;}
}



.leftlink {
	position: absolute;
	top: 36px;
	left:30px;
	width: 45px;
	height:45px;
	background-color: transparent;
}
.rightlink {
	position: absolute;
	top: 36px;
	left:250px;
	width: 45px;
	height:45px;
	background-color: transparent;
}
.midlink {
	position: absolute;
	top: 36px;
	left:130px;
	width: 86px;
	height:66px;
}

.bottomlink1 {
	width: 100%;
	height:45px;
	position: absolute;
	top: 433px;
}


.bottomlink2 {
	width: 100%;
	height:45px;
	position: absolute;
	top: 496px;
}

.bottombox {
	position: fixed;
	bottom: 0px;
	width: 320px;
	height: 126px;
	background-size: 320px auto;
	background-image: url(images/eventbottom.png);
}
.bottombox2 {
	position: fixed;
	bottom: 0px;
	width: 320px;
	height: 104px;
	background-size: 320px auto;
	background-image: url(images/mapbottoms.png);
}


