body {
	padding: 0;
	margin: 0;
	margin-left: 0;
	overflow: hidden;
	background-color: #001340;
	background-image: url(images/bgf.png);
	background-position: bottom left;
	background-repeat: repeat-x;
}



.fader {
	width: 100%;
	height: 50%;
	background-image: url(images/fader.png);
	background-repeat: repeat-x;
	pointer-events:none;
	background-size: 100% 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}


.logobox {
	width: 35%;
	height: 40%;
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	top: 35%;
	left: 50%;
	margin: 0 0 0 -17.5%;
	background-color: transparent;
	position: fixed;
	z-index: 20;
	back
}

.facebook {
	width: 7%;
	height: 5%;
	background-image: url(images/facebooklink.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 50;
	cursor: pointer;
}

.twitter {
	width: 6%;
	height: 5%;
	background-image: url(images/twitter.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: fixed;
	bottom: -10px;
	left: 20px;
	z-index: 50;
	cursor: pointer;
}

.email {
	width: 7%;
	height: 5%;
	background-image: url(images/email.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 50;
	cursor: pointer;
}

.mailing {
	width: 9%;
	height: 5%;
	background-image: url(images/mailing.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: fixed;
	bottom: -10px;
	right: 20px;
	z-index: 50;
	cursor: pointer;
}