body {
	padding: 0;
	margin: 0;
	margin-left: 0;
	overflow: auto;
	background-color: #187d9a;
	height: 100%;
}

#items{
    overflow-x: scroll;
    width: auto;
    white-space: nowrap;
}


.plant1 {
	width: 350px;
	height: 100%;
	background-color: #187d9a;
	overflow: hidden;
	display: inline-block;
	margin: 0;
	text-align: center;
}
.plant2 {
	width: 350px;
	height: 100%;
	background-color: #ee8438;
	overflow: hidden;
	display: inline-block;
	margin: 0;
text-align: center;
}
.plant3 {
	width: 350px;
	height: 100%;
	background-color: #633b43;
	overflow: hidden;
	display: inline-block;
	margin: 0;
text-align: center;
}
.plant4 {
	width: 350px;
	height: 100%;
	background-color: #73409a;
	overflow: hidden;
	display: inline-block;
	margin: 0;
text-align: center;
}
.plant5 {
	width: 350px;
	height: 100%;
	background-color: #cd4b70;
	overflow: hidden;
	display: inline-block;
	margin: 0;
text-align: center;
}

img {
	position: relative;
	top: 40%;
	margin-top: -200px;
}