body {
	background-color: #1a1337;
	margin: 0 auto;
	min-height: 600px;
}

.bg {
	background-image: url(images/bgxl.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 100%;
}

.edgeTL {
	background-image: url(images/edge.png);
	background-repeat: no-repeat;
	width: 80%;
	height: 80%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-size: 100% 100%;
	opacity: 0.3;
}
.edgeTR {
	background-image: url(images/edge.png);
	background-repeat: no-repeat;
	width: 80%;
	height: 80%;
	position: fixed;
	top: 0px;
	right: 0px;
	background-size: 100% 100%;
	-webkit-transform: scale(-1, 1);
	opacity: 0.3;
}

#stars1 {
	background-image: url(images/stars/stars1.png);
	background-repeat: repeat;
	width: 120%;
	height: 100%;
	background-position: 0, 0;
	left: -300px;
	z-index: 0;
	position: fixed;
	-webkit-animation-name: MOVE-BG1;
	-webkit-animation-duration: 6s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

}

#stars2 {
	background-image: url(images/stars/stars2.png);
	background-repeat: repeat;
	width: 120%;
	height: 100%;
	background-position: 0, 0;
	left: -500px;
	position: fixed;
	-webkit-animation-name: MOVE-BG2;
	-webkit-animation-duration: 5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}
#stars3 {
	background-image: url(images/stars/stars3.png);
	background-repeat: repeat;
	width: 200%;
	height: 100%;
	background-position: 0, 0;
	left: -850px;
	position: fixed;
	-webkit-animation-name: MOVE-BG3;
	-webkit-animation-duration: 4s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}
#stars4 {
	background-image: url(images/stars/stars4.png);
	background-repeat: repeat;
	width: 120%;
	height: 100%;
	background-position: 0, 0;
	left: -200px;
	position: fixed;
	-webkit-animation-name: MOVE-BG4;
	-webkit-animation-duration: 6s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}
#stars5 {
	background-image: url(images/stars/stars5.png);
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	background-position: 0, 0;
	left: 0px;
	position: fixed;
}

.logobox {
	
	
	background-image: url(images/logo.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	width:  90%;
	height: 50%;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	top: 20%


}



@-webkit-keyframes MOVE-BG1 {
	from {
		-webkit-transform: translateX(0);
	}
	to { 
		-webkit-transform: translateX(299px);
	}
}

@-webkit-keyframes MOVE-BG2 {
	from {
		-webkit-transform: translateX(0);
	}
	to { 
		-webkit-transform: translateX(499px);
	}
}
@-webkit-keyframes MOVE-BG3 {
	from {
		-webkit-transform: translateX(0);
	}
	to { 
		-webkit-transform: translateX(849px);
	}
}
@-webkit-keyframes MOVE-BG4 {
	from {
		-webkit-transform: translateX(0);
	}
	to { 
		-webkit-transform: translateX(199px);
	}
}







.nav {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 100px;
	font-size: 15px;
	margin: 0 auto;
	left: 0px;
	right: 0px;

}

.nav a {
	color: #63d4fe;
	text-decoration: none;
	-webkit-transition: letter-spacing 0.5s, color 0.3s;
	
	padding-left: 10px;
	padding-right: 10px;
	text-transform: uppercase;
	font-weight: 700;
}
.nav a:hover {
	letter-spacing: 1.3px;
	color: #4fefed;
}

.nav h2 {
	font-size: 8px;
}

@-webkit-keyframes fadein {
0% { opacity: 0;}
100% {opacity: 1;}
}


@media only screen and (min-width : 320px) {
.logobox {
	background-image: url(images/logo.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	width:  88%;
	height: 50%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 35%;

}
.nav  {
position: fixed;
	bottom: 0px;
	width: 100%;
	height: 100px;
	font-size: 15px;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	font-family: "Montserrat";
	font-weight: 400;
	color: #b3655d;
	font-size: 14px;
	border-top: 2px solid #63d4fe;
	padding: 10px;
}

}



@media only screen and (min-width : 600px) {
.logobox {
	background-image: url(images/logo.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	width:  40%;
	height: 50%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 35%;

}

.nav {
	position: fixed;
	bottom: 2%;
	padding: 10px;
	border-top: 2px solid #63d4fe;
	text-align: center;
	font-family: "Montserrat";
	font-weight: 400;
	color: #b3655d;
	font-size: 14px;
	margin-bottom: 0px;
	right: 15%;
	left: 15%;
	margin-top: 300px;
	line-height: 35px;
	width: 70%
}

}
/*
@media only screen and (min-width : 601px) and (max-width : 800px) {
.logobox {
	background-image: url(images/logo.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	width:  70%;
	height: 50%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 100px;

}




.nav {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 100px;
	font-size: 15px;
	margin: 0 auto;
	left: 0px;
	right: 0px;

}
}

}


*/










