@font-face {
	font-family: "Texta";
	font-weight: normal;
	src: url(textabook.otf);
}
@font-face {
	font-family: "Texta";
	font-weight: bold;
	src: url(texta.otf);
}


body {
	background-size: 100% 100%;
	background-image: url(images/p_bg2.png);
	margin : 0 0 0 0;
	background-attachment: fixed;
}

.stars {
	background-image: url(images/stars.png);
	background-repeat: repeat;
	position: fixed;
	width: 100%;
	height: 100%;
}

.title {
	width: 100%;
	text-align: center;
	font-size:20px;
	font-family:"Texta";
	letter-spacing: 0.3em;
	font-weight:bold;
	color:#ffffff;
}

.title h4 {
	font-family: "Texta";
	font-weight: normal;
	font-size: 14px;
	margin-top: 4px;
	margin-bottom: 32px;
}

.logobox {
	width: 100%;
	height: 100%;
	background-image: url(images/z.gif);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 24% auto;
	z-index: 10;
	margin-right: auto;
	margin-left: auto;
	position: fixed;
	cursor: pointer;
}


#particles {
	background-color: transparent;
	position: fixed;
	z-index: -11;
	width: 100%;
	height: 100%;
}




@media only screen and (max-width: 1300px) {
	.logobox {
	background-size: 35% auto;
	}

}


@media only screen and (max-width: 701px) {
	.logobox {
background-size: 55% auto;
	}


	
}



