body {
background-color: #2b2b2b;
margin:0;
}

.container {
width:768px;
height: 1024px;
margin-left: auto;
margin-right: auto;
background-image: url(images/bg2.jpg);
background-size: 768px 1024px;
}

.circle {
position: relative;
left: 100px;
top:200px;
border-radius: 50%;
width: 100px;
height: 100px;
border-width: 2px;
border: #fff solid;
-webkit-box-sizing: border-box;
-webkit-transition: border-width 2s ease;
}

.circle:active {
border-width: 50px;
}

.bob {
-webkit-animation:bob 2s ease;
-webkit-animation-iteration-count:infinite;	
}

@-webkit-keyframes bob {
	0% {-webkit-transform:translateY(0px);}
	50% {-webkit-transform:translateY(15px);}
	0% {-webkit-transform:translateY(0px);}
}