body {
background-color: #2b2b2b;
margin:0;
}

.container {
width:768px;
height: 1024px;
background-image: url(images/bg2.jpg);
background-size: 768px 1024px;
}

.piscescont {
width:768px;
height: 1024px;
background-image: url(images/pisces.jpg);
background-size: 768px 1024px;	
}

.circle {
border-radius: 50%;
width: 100px;
height: 100px;
border: rgba(255,255,255,0.3) solid 1px;

-webkit-transition: border-width 2s ease;
}


.bob {
-webkit-animation:bob 2s cubic-bezier(.42,0,.58,1);
-webkit-animation-iteration-count:infinite;	
}

@-webkit-keyframes bob {
	0% {-webkit-transform:translateY(0px); border-color: rgba(255,255,255,0.3);}
	50% {-webkit-transform:translateY(-10px); border-color: rgba(255,255,255,1);}
	0% {-webkit-transform:translateY(0px); border-color: rgba(255,255,255,0.3);}
}


.centerbox {
	position: absolute;
	width:272px;
	height:282px;
	left:247px;
	top:371px;
	background-size: 272px 282px;
	background-image: url(images/relabg.png);
	-webkit-animation-delay:0.2s;
}

.aqua {
	background-image: url(images/aqua.png);
	background-size: 100px 100px;
	background-position: center;
	position: absolute;
	left: 200px;
	top:691px;
	-webkit-animation-delay: 0.3s;
}

.pisces{
	background-image: url(images/pisces.png);
	background-size: 100px 100px;
	background-position: center;
	position: absolute;
	left: 334px;
	top:727px;
	-webkit-animation-delay: 0.4s;
}

.aries {
	background-image: url(images/aries.png);
	background-size: 100px 100px;
	background-position: center;
	position: absolute;
	left: 468px;
	top:691px;
	-webkit-animation-delay: 0.5s;
}

.taurus {
	background-image: url(images/taurus.png);
	background-size: 100px 100px;
	background-position: center;
	position: absolute;
	left: 564px;
	top:594px;
	-webkit-animation-delay: 0.5s;
}
.gemini {
	background-image: url(images/gemini.png);
	background-size: 100px 100px;
	background-position: center;
	position: absolute;
	left: 599px;
	top:462px;
	-webkit-animation-delay: 0.4s;
}
.cancer{
	background-image: url(images/cancer.png);
	background-size: 100px 100px;
	background-position: center;
	position: absolute;
	left: 564px;
	top:329px;
	-webkit-animation-delay: 0.3s;
}
.leo {
	background-image: url(images/leo.png);
	background-size: 100px 100px;
	background-position: center;
	position: absolute;
	left: 468px;
	top:232px;
	-webkit-animation-delay: 0.2s;
}
.virgo {
	background-image: url(images/virgo.png);
	background-size: 100px 100px;
	background-position: center;
	position: absolute;
	left: 334px;
	top:196px;
	-webkit-animation-delay: 0.1s;
}
.libra {
	background-image: url(images/libra.png);
	background-size: 100px 100px;
	background-position: center;
	position: absolute;
	left: 200px;
	top:232px;
	-webkit-animation-delay: 0.01s;
}

.scorpio {
	background-image: url(images/scorpio.png);
	background-size: 100px 100px;
	background-position: center;
	position: absolute;
	left: 104px;
	top:329px;
	-webkit-animation-delay: 0.01s;
}
.sag {
	background-image: url(images/sag.png);
	background-size: 100px 100px;
	background-position: center;
	position: absolute;
	left: 68px;
	top:462px;
	-webkit-animation-delay: 0.1s;
}
.capricorn {
		background-image: url(images/cap.png);
	background-size: 100px 100px;
	background-position: center;
	position: absolute;
	left: 104px;
	top:594px;
	-webkit-animation-delay: 0.2s;
}