@font-face {
    font-family: textabold;
    src: url(font/textabold.ttf);
}

@font-face {
    font-family: textamed;
    src: url(font/textamed.ttf);
}

body {
	background-image: url(images/bg.png);
	background-size: auto 100%;
	background-repeat: repeat-x;
	margin: 0;
}

.baby {

}

.content {
	position: relative;
	width: 1100px;
	height: 2450px;
	padding-bottom: 100px;
	border-radius: 8px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 60px;
	margin-bottom: 200px;
}

.logobox {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 600px;
	height: 130px;
	background-image: url(images/logo.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	margin-top: 100px;
	color: #5fc4bb;
}

.content p {
	font-family: textabold;
	font-size: 16px;
}

.content h2 {
	font-family: textabold;
	font-size: 50px;
	text-align: center;
	border-bottom: 3px solid #5fc4bb;
	padding-bottom: 13px;
	margin-top: 0px;
	color: #5fc4bb;
}


.student {
	width: 275px;
	height: 300px;
	color: #5fc4bb;
	display: inline-block;
	float: left;
	margin-bottom: 100px;
	margin: 0;
	text-align: center;
	font-family: textamed;
	font-size: 25px;
	line-height: 1;
	box-sizing: border-box;
	-webkit-transition: color 0.4s;
}

.innerstudent {
	width: 220px;
	height: 220px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
	background-color: #fff;
	overflow: hidden;
	margin-bottom: 20px;
}

.innerstudent img {
	width: 100%;
	height: auto;
}


.cloud1 {
	width: 100%;
	height: 92px;
	background-image: url(images/cloud1.png);
	background-repeat: repeat-x;
	position: fixed;
	bottom: 0px;
	-webkit-animation: movebg 5s infinite linear;
}
.cloud2 {
	width: 100%;
	height: 123px;
	background-image: url(images/cloud2.png);
	background-repeat: repeat-x;
	position: fixed;
	bottom: 0px;
	-webkit-animation: movebg 7.5s infinite linear;
}
.cloud3 {
	width: 100%;
	height: 195px;
	background-image: url(images/cloud3.png);
	background-repeat: repeat-x;
	position: fixed;
	bottom: 0px;
	-webkit-animation: movebg 10s infinite linear;
}

@-webkit-keyframes movebg {
	from {background-position: 0;}
	to { background-position: 640px;}
}
